@if (server(); as server) {
  @if (background(); as background) {
    <div class="server-container background" [style.--content-background]="background">
      <div class="server-container-content light-blur ion-padding">
        <div class="title">{{ server.name }}</div>
        <div>{{ server.description }}</div>
      </div>
      <div class="server-container-menu">
        @if (map() && isQbitor()) {
          <button class="server-container-menu-button">
            <img src="assets/map2.webp" (click)="navigateToMap()" alt="Map Icon" />
            <ion-label color="dark">Map</ion-label>
          </button>
        }
      </div>
    </div>
  }
}
