.server-container {
  display: flex;
  min-height: inherit;
  &-content {
    padding: 5dvw;
    position: relative;
    flex-direction: column;
    display: flex;
    width: 100%;
    min-height: inherit;
    font-size: 1.15rem;
  }
  &-menu {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    min-height: inherit;
    position: absolute;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &-button {
      background-color: var(--ion-card-background);
      border-radius: 0.25rem;
      padding: 1rem 1.5rem 1rem 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      font-size: x-large;
      img {
        width: 4rem;
        filter: drop-shadow(rgba(0, 0, 0, 0.3) -2px 2px 2px);
      }
    }
  }
}
