.server-container {
  justify-content: end;
  display: flex;
  min-height: inherit;
  &-content {
    text-align: end;
    flex-direction: column;
    display: flex;
    width: 75%;
    min-height: inherit;
    font-size: 1.15rem;
    gap: 1rem;
    &-separator {
      flex: 1;
    }
    &-footer {
      display: flex;
      flex-direction: column;
      align-items: end;
      &-buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
