.server-container {
  display: flex;
  min-height: inherit;
  &-content {
    position: relative;
    flex-direction: column;
    display: flex;
    width: 75%;
    min-height: inherit;
    font-size: 1.15rem;
  }
  &-sidebar {
    width: 4rem;
    min-height: inherit;
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    padding: 1rem 0;
    display: flex;
    align-items: flex-end;
    &-button {
      background-color: var(--ion-card-background);
      border-radius: 0.25rem;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      font-size: 0.75rem;
      img {
        width: 4rem;
        filter: drop-shadow(rgba(0, 0, 0, 0.3) -2px 2px 2px);
      }
    }
  }
}
