<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title i18n="@@join-title">Join QbitMC</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  @if (profile(); as profile) {
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large" i18n="@@join-title">Join QbitMC</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-lg="8">
          <ion-card>
            @if (player(); as player) {
              <ion-avatar>
                <img [src]="player.$id | avatar: 'face'" alt="user's minecraft avatar" />
              </ion-avatar>
            }
            <ion-card-header class="ion-card-avatar-header">
              @if (player(); as player) {
                <ion-card-title>{{ player.ign }}</ion-card-title>
              } @else {
                <ion-card-title i18n="@@about-title">Hey!</ion-card-title>
              }
              <ion-card-subtitle i18n="@@about-subtitle">Tell us about yourself</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content [formGroup]="form" class="ion-no-padding form-container">
              <ion-list lines="none">
                <ion-item>
                  <ion-input
                    formControlName="age"
                    inputmode="numeric"
                    clearInput
                    clearOnEdit
                    (keyup)="numbersOnly(form.controls.age, 2)"
                    labelPlacement="floating"
                    i18n-helperText="@@about-age-helper"
                    helperText="Numbers only">
                    <span slot="label">
                      <ion-text i18n="@@about-age-label">Age </ion-text><ion-text color="danger">*</ion-text>
                    </span>
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-textarea
                    formControlName="reasons"
                    maxlength="300"
                    autoGrow
                    counter="true"
                    labelPlacement="floating"
                    i18n-helperText="@@about-reasons-helper"
                    helperText="Why would you like to join our community?">
                    <span slot="label">
                      <ion-text i18n="@@about-reasons-label">Reasons </ion-text><ion-text color="danger">*</ion-text>
                    </span>
                  </ion-textarea>
                </ion-item>
                <ion-item>
                  <ion-textarea
                    formControlName="experience"
                    counter="true"
                    maxlength="300"
                    autoGrow
                    labelPlacement="floating"
                    i18n-helperText="@@about-experiences-helper"
                    helperText="Experiences in previous private minecraft servers">
                    <span slot="label">
                      <ion-text i18n="@@about-experiences-title">Experiences </ion-text><ion-text color="danger">*</ion-text>
                    </span>
                  </ion-textarea>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
          @if (!player()) {
            <ion-card>
              <ion-card-header>
                <ion-card-title>Connect your minecraft account</ion-card-title>
                <ion-card-subtitle i18n="@@about-subtitle">
                  <ion-grid class="ion-no-padding">
                    <ion-row class="ion-align-items-center">
                      <ion-col sizeMd="auto">Join the following minecraft server: verification.qbitmc.com</ion-col>
                      <ion-col size="auto">
                        <ion-button size="small" fill="none" (click)="clipboard.copyToClipboard('verification.qbitmc.com')">
                          <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-subtitle>
              </ion-card-header>
              <ion-card-content class="ion-no-padding">
                <ion-list lines="none">
                  <ion-item>
                    <ion-input
                      inputmode="numeric"
                      clearInput
                      labelPlacement="floating"
                      [formControl]="verification"
                      (keyup)="verificationCodeChange()">
                      <span slot="label">
                        @if (verificationLoading()) {
                          <ion-text i18n="@@verification-loading-label">Verifying account</ion-text>
                        } @else {
                          <ion-text i18n="@@verification-label">Verification Code </ion-text>
                          <ion-text color="danger">*</ion-text>
                        }
                      </span>
                    </ion-input>
                    @if (verificationLoading()) {
                      <ion-spinner name="dots" slot="end"></ion-spinner>
                    }
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          }
          <ion-card>
            <ion-card-header>
              <ion-card-title i18n="@@media-title">Media</ion-card-title>
              <ion-card-subtitle>
                <ion-text i18n="@@media-subtitle"> Upload pictures of minecraft buildings you've done in the past. </ion-text>
                <ion-text [color]="filesSizeWithinLimit() ? '' : 'danger'" i18n="@@media-restrictions"
                  >File size limit {{ filesSize() | bytes }} / 25 MiB.</ion-text
                >
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="ion-no-padding">
              <ion-grid>
                @if (media(); as files) {
                  <ion-row>
                    @for (file of files; track $index) {
                      <ion-col size="12" size-md="6" size-xl="4">
                        <qbit-image-container
                          [src]="file.url"
                          [size]="file.sizeOriginal"
                          (delete)="deleteImage(file.$id)"></qbit-image-container>
                      </ion-col>
                    }
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      @if (filesSizeWithinLimit()) {
                        <qbit-file-uploader type="image" (droppedFiles)="droppedFiles($event)"> </qbit-file-uploader>
                      }
                    </ion-col>
                  </ion-row>
                } @else {
                  <qbit-file-uploader type="image" (droppedFiles)="droppedFiles($event)"></qbit-file-uploader>
                }
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-lg="4">
          <ion-card>
            <ion-card-header>
              <ion-card-title i18n="@@rules-title">Rules</ion-card-title>
              <ion-card-subtitle i18n="@@rules-subtitle"
                >If you fail to comply with the following an immediate ban can be issued without any prior
                notification</ion-card-subtitle
              >
            </ion-card-header>
            <ion-card-content class="ion-no-padding">
              @for (rule of rules; track $index) {
                <ion-item lines="full">
                  <ion-label class="ion-text-wrap"
                    ><p>{{ rule }}</p></ion-label
                  >
                </ion-item>
              }
              <ion-item lines="none" [color]="form.controls.rules.value ? 'secondary' : ''">
                <ion-checkbox color="light" [formControl]="form.controls.rules" i18n="@@rules-agreement-button-label">
                  <ion-text class="ion-text-wrap"> I've read the rules and I will do my best to follow them </ion-text>
                </ion-checkbox>
              </ion-item>
            </ion-card-content>
          </ion-card>
          <div class="card-margin">
            <ion-button
              expand="block"
              color="secondary"
              [disabled]="filesSizeExceedsLimit() || form.invalid || !player"
              (click)="submit()"
              i18n="@@submit">
              Submit
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  }
</ion-content>

<ion-toast
  i18n-message="@@verification-invalid"
  message="Invalid verification code, please try again"
  [isOpen]="!!verificationError()"
  [duration]="2500"
  color="danger"
  [buttons]="['Dismiss']"
  (ionToastDidDismiss)="dismissError()">
</ion-toast>
