<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title i18n="@@join">Join QbitMC</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" *ngIf="profile$ | async as profile">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" i18n="@@join">Join QbitMC</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="8">
        <ion-card>
          <ion-avatar *ngIf="profile.minecraft">
            <img [src]="profile.minecraft.id | avatar">
          </ion-avatar>
          <ion-card-header class="ion-card-avatar-header">
            <ion-card-title *ngIf="!profile.minecraft; else ign">Hey!</ion-card-title>
            <ng-template #ign><ion-card-title>{{ profile.minecraft.name }}</ion-card-title></ng-template>
            <ion-card-subtitle i18n>Tell us about yourself</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content [formGroup]="form" class="ion-no-padding form-container">
            <ion-item lines="full">
              <ion-label position="floating" i18n>First name</ion-label>
              <ion-input [clearInput]="true" formControlName="forename"></ion-input>
              <qbit-note
                #forename
                i18n-helper
                [invalid]="form.controls.forename.invalid"
                [dirty]="form.controls.forename.dirty"
                helper="How would you like us to call you?"
                [slot]="forename.slot"
              ></qbit-note>
            </ion-item>
            <ion-item lines="full">
              <ion-label position="floating" i18n>Age <ion-text color="danger">*</ion-text></ion-label>
              <ion-input formControlName="age" inputmode="numeric" clearInput clearOnEdit (keyup)="numbersOnly()"></ion-input>
              <qbit-note
                #age
                i18n-helper
                [invalid]="form.controls.age.invalid"
                [dirty]="form.controls.age.dirty"
                helper="Numbers only"
                [slot]="age.slot"
              ></qbit-note>
            </ion-item>
            <ion-item counter="true" lines="full">
              <ion-label position="floating" i18n>Reasons <ion-text color="danger">*</ion-text></ion-label>
              <ion-textarea formControlName="reasons" maxlength="300" autoGrow></ion-textarea>
              <qbit-note
                #reasons
                i18n-helper
                [invalid]="form.controls.reasons.invalid"
                [dirty]="form.controls.reasons.dirty"
                helper="Why would you like to join our community?"
                [slot]="reasons.slot"
              ></qbit-note>
            </ion-item>
            <ion-item lines="full">
              <ion-label position="floating" i18n>Experiences<ion-text color="danger">*</ion-text></ion-label>
              <ion-textarea formControlName="experience" counter="true" maxlength="300" autoGrow></ion-textarea>
              <qbit-note
                #experience
                i18n-helper
                [invalid]="form.controls.experience.invalid"
                [dirty]="form.controls.experience.dirty"
                helper="Experiences in previous private minecraft servers"
                [slot]="experience.slot"
                class="last-card-item"
              ></qbit-note>
            </ion-item>
          </ion-card-content>
        </ion-card>
        <div class="card-margin" *ngIf="!profile.minecraft">
          <ion-button expand="block" color="secondary" (click)="linkMinecraftAccount()">
            <ion-icon ios="cube-outline" md="cube-sharp"></ion-icon>
            Connect your Minecraft Account*
          </ion-button>
        </div>
        <ion-card>
          <ion-card-header>
            <ion-card-title i18n>Media</ion-card-title>
            <ion-card-subtitle>
              <ion-text i18n>
                Upload pictures of minecraft buildings you've done in the past.
              </ion-text>
              <ion-text
                [color]="(filesSizeWithinLimit$ | async) ? '': 'danger'"
                i18n
              >File size limit {{ filesSize$ | async | bytes }} / 25 MiB.</ion-text>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-grid>
              <ng-container *ngIf="media$ | async as files; else noFilesUploaded">
                <ion-row>
                  <ion-col *ngFor="let file of files" size="12" size-md="6" size-xl="4">
                    <div class="image-container">
                      <img [src]="file.blob">
                      <ion-button size="small" color="danger" class="delete-button" (click)="deleteImage(file.key)">
                        <ion-icon name="close" slot="icon-only"></ion-icon>
                      </ion-button>
                      <div class="image-container-description">
                        <ion-chip>{{ file.size | bytes }}</ion-chip>
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <qbit-file-uploader
                      *ngIf="filesSizeWithinLimit$ | async"
                      type="image"
                      (droppedFiles)="droppedFiles($event)">
                    </qbit-file-uploader>
                  </ion-col>
                </ion-row>
              </ng-container>
              <ng-template #noFilesUploaded>
                <qbit-file-uploader type="image" (droppedFiles)="droppedFiles($event)"></qbit-file-uploader>
              </ng-template>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-lg="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title i18n>Rules</ion-card-title>
            <ion-card-subtitle i18n>If you fail to comply with the following an immediate ban can be issued without any prior notification</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-item lines="full" *ngFor="let rule of rules">
              <ion-label class="ion-text-wrap"><p>{{ rule }}</p></ion-label>
            </ion-item>
            <ion-item lines="none" [color]="form.controls.rules.value ? 'secondary' : ''">
              <ion-label class="ion-text-wrap" i18n>I've read the rules and I will do my best to follow them</ion-label>
              <ion-checkbox color="light" [formControl]="form.controls.rules"></ion-checkbox>
            </ion-item>
          </ion-card-content>
        </ion-card>
        <div class="card-margin">
          <ion-button expand="block" color="secondary" [disabled]="(filesSizeExceedsLimit$ | async) || form.invalid" (click)="submit()" i18n>Submit</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
