.form-container {
  ion-item:nth-last-child(1) {
    margin-bottom: 0.625rem;
  }
}

ion-col {
  &.md .card-margin {
    margin-inline: 0.625rem;
  }

  &.ios .card-margin {
    margin-inline: 1rem;
  }

  .card-margin {
    ion-button {
      margin-inline: 0px;
    }
  }
}


.image-container {
  isolation: isolate;
  position: relative;
  display: grid;
  place-items: center;
  height: 100%;
  .delete-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    margin: 0;
    --padding-start: 0.125rem;
    --padding-end: 0.125rem;
    --border-radius: 0.5rem;
    z-index: 1;
  }
  img {
    border-radius: 0.5rem;
  }
  &-description {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0 0 0.5rem 0.5rem;
  }
}

ion-chip {
  --background: rgba(var(--ion-color-medium-rgb),0.7);
  --color: var(--ion-color-medium-contrast);
}

ion-item {
  --background: var(--ion-card-background-rgb)
}

.connect-account-container-subtitle {
  isolation: isolate;
  position: relative;
  &-button {
    position: absolute;
    top: -0.5rem;
    &.ios {
      top: -0.65rem;
    }
  }
}
