.form-container {
  ion-item:nth-last-child(1) {
    margin-bottom: 0.625rem;
  }
}

ion-col {
  &.md .card-margin {
    margin-inline: 0.625rem;
  }

  &.ios .card-margin {
    margin-inline: 1rem;
  }

  .card-margin {
    ion-button {
      margin-inline: 0px;
    }
  }
}

ion-item {
  --background: var(--ion-card-background-rgb)
}

.connect-account-container-subtitle {
  isolation: isolate;
  position: relative;
  &-button {
    position: absolute;
    top: -0.5rem;
    &.ios {
      top: -0.65rem;
    }
  }
}

ion-footer.join-footer {
  background-color: var(--ion-background-color);
  &.ios {
    padding-inline: 1.5rem;
    padding-bottom: 5rem !important;
  }
  padding-bottom: 5.5rem !important;
  padding-inline: 0.625rem;
}