@use 'src/theme/mixins.scss' as mixins;

$background: url('https://i.imgur.com/hKNKXLW.png') no-repeat center center;
@include mixins.background-image($background);

ion-select::part(icon) {
  opacity: 0;
}

ion-text {
  &.description {
    color: white;
    margin: 0 1rem;
    font-size: 1.15rem;
  }
  &.section-title {
    font-size: 1.25rem;
    font-weight: 700;
    &.ios {
      font-size: 1.75rem;
    }
  }
}

.leaderboards-container {
  @include mixins.xl {
    overflow-y: auto;
    height: 95%;
    ion-col:first-of-type {
      padding-top: 0;
    }
  }
}

.full-height {
  @include mixins.xl {
    height: 100%;
  }
}
