@use 'src/theme/mixins.scss' as mixins;

$background: url('https://i.imgur.com/hKNKXLW.png') no-repeat center center;
@include mixins.background-image($background);

.full-screen {
  display: grid;
  place-items: center;
  height: 87vh;
  * {
    height: 100%;
  }
}

ion-select::part(icon) {
  opacity: 0;
}
