<ion-content class="background" [scrollY]="!view.isMD()">
  <ion-grid class="main-container ion-no-padding">
    <ion-row class="full-height ion-no-padding">
      <!-- <div class="server-list-title" i18n="@@server-list-title">
        <span class="title">Server List</span>
      </div> -->
      <ion-col class="content-container-parent full-height" size="12" size-md="6" size-lg="7">
        <ion-grid class="full-height ion-no-padding content-container">
          <ion-row class="ion-padding">
            <ion-col size="12">
              <ion-text i18n="@@site-title" class="title">Our community</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" size-lg="6" size-xl="4">
              <qbit-bullet-point>
                <ion-icon name="calendar-outline" size="large" bullet></ion-icon>
                <div class="subtitle" title i18n="@@site-subtitle">Founded in 2015</div>
                <ion-text class="content-container-description" description>
                  That's almost 10 years of playing together!
                </ion-text>
              </qbit-bullet-point>
            </ion-col>
            <ion-col size="12" size-lg="6" size-xl="4">
              <qbit-bullet-point>
                <ion-icon name="game-controller-outline" size="large" bullet></ion-icon>
                <div class="subtitle" title>Game Servers</div>
                <ion-text class="content-container-description" description>
                  Although our network is mostly compiled of minecraft servers, we may host other games from time to time
                </ion-text>
              </qbit-bullet-point>
            </ion-col>
            <ion-col size="12" size-lg="6" size-xl="4">
              <qbit-bullet-point>
                <ion-icon name="people-outline" size="large" bullet></ion-icon>
                <div class="subtitle" title>Better Together</div>
                <ion-text class="content-container-description" description>
                  Have fun participating in a variety of cooperative projects and events
                </ion-text>
              </qbit-bullet-point>
            </ion-col>
            <ion-col size="12" size-lg="6" size-xl="4">
              <qbit-bullet-point>
                <ion-icon name="globe-outline" size="large" bullet></ion-icon>
                <div class="subtitle" title>Custom Systems</div>
                <ion-text class="content-container-description" description>
                  These provide our community with an immersive experience across all of our platforms
                </ion-text>
              </qbit-bullet-point>
            </ion-col>
            <ion-col size="12" size-lg="6" size-xl="4">
              <qbit-bullet-point>
                <ion-icon name="hammer-outline" size="large" bullet></ion-icon>
                <div class="subtitle" title>Built with ♥️</div>
                <ion-text class="content-container-description" description>
                  It takes a lot of effort to run a community but we'll keep doing it because we love it
                </ion-text>
              </qbit-bullet-point>
            </ion-col>
          </ion-row>
          @if (!isSignedIn()) {
            <ion-row class="ion-justify-content-end ion-padding-top">
              <ion-col size="12" size-lg="6" size-xl="4">
                <ion-item
                  button
                  color="secondary"
                  lines="none"
                  class="ion-text-center"
                  [style.border-radius]="'0.25rem'"
                  (click)="nav.navigateForward('/auth')">
                  <ion-label>Join now!</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          }
        </ion-grid>
        @if (supporters(); as supporters) {
          <div class="supporters-list">
            @if (elementsInView(); as elementsInView) {
              <qbit-slider [elementsInView]="elementsInView">
                @for (supporter of supporters; track $index) {
                  <ion-item class="blur supporters-list-item" lines="none">
                    <ion-avatar slot="start">
                      <img [src]="supporter.$id | avatar" [alt]="'Avatar of player ' + supporter.ign" />
                    </ion-avatar>
                    <ion-label>{{ supporter.ign }}</ion-label>
                    <ion-chip color="warning" slot="end">Qbitor+ 💛</ion-chip>
                  </ion-item>
                }
              </qbit-slider>
            }
          </div>
        }
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="5" class="server-list">
        <div class="server-list-container blur">
          @if (servers(); as servers) {
            @for (server of servers; track $index) {
              <qbit-server [server]="server" [media]="serverMedia(server)()"></qbit-server>
            }
          }
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
