.dropzone {
  position: relative;
  overflow: hidden;
  display: grid;
  align-content: center;
  justify-items: center;
  border: 0.034375rem dashed var(--ion-border-color);
  border-radius: 0.5rem;
  padding: 1em .75em;
  cursor: pointer;
  height: 100%;
}

.file-input {
  display: none;
}
