$slide-width: calc(var(--slide-width) + 1rem);
$slide-width-negative: calc(var(--slide-width-negative) - 1rem);

@keyframes scroll {
  from { transform: translateX(0) }
  to { transform: translateX(calc($slide-width-negative * calc(var(--slide-total-elements) / 2)))}
}

.slider {
  overflow: hidden;
  &-track {
    animation: scroll var(--slide-animation-speed) linear infinite;
    display: flex;
		width: calc($slide-width * var(--slide-total-elements));
    &:hover {
      animation-play-state: paused;
    }
    & > * {
      width: var(--slide-width);
      margin: 1rem;
      margin-left: 0;
    }
  }
}
