@use 'src/theme/mixins.scss' as mixins;

ion-grid {
  height: 100%;
  ion-row {
    min-height: 50%;
  }
}

.profile {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  &-buttons {
    @include mixins.md {
      align-items: flex-end;
    }
  }
}

.body-render {
  filter: drop-shadow(rgba(0, 0, 0, 0.5) 0px 0.25rem 1rem);
}
