@use 'src/theme/mixins.scss' as mixins;

$background: url('https://i.imgur.com/chmiqYh.png') no-repeat 60% center;
@include mixins.background-image($background);

ion-grid {
  display: grid;
  place-items: center;
  height: 100%;
}
