<ion-content class="background">
  <ion-grid>
    @if (player(); as player) {
      <ion-row>
        @if (view.isLG()) {
          <ion-col size="0" sizeLg="3"></ion-col>
        }
        <ion-col size="12" sizeLg="6" class="profile">
          <div>
            <img [src]="player.$id | avatar: 'body'" alt="Minecraft skin render" class="body-render" />
          </div>
          <div class="profile-nickname">
            @if (user(); as user) {
              @for (label of user.labels | styledRole; track $index) {
                <qbit-styled-text [text]="label"></qbit-styled-text>
              }
            }
            @for (nick of nickname(); track $index) {
              <qbit-styled-text [text]="nick"></qbit-styled-text>&nbsp;
            }
          </div>
          <div class="rounded-ion-items">
            <ion-item lines="none" detail="false" button (click)="navigateToNicknameEditor()">
              <ion-icon name="color-palette" slot="start"></ion-icon>
              <ion-label i18n="@@profile-customize-nickname">Customize nickname</ion-label>
              <ion-chip color="warning" slot="end">Qbitor+</ion-chip>
            </ion-item>
          </div>
        </ion-col>
        @if (view.isLG()) {
          <ion-col size="0" sizeLg="3"></ion-col>
        }
      </ion-row>
    }
  </ion-grid>
</ion-content>
