@font-face {
  font-family: Minecraft;
  src: url('assets/Minecraft.otf') format('opentype');
}

/* You can add global styles to this file, and also import other style files */

ion-card > ion-avatar {
  background-color: var(--ion-color-secondary);
  position: absolute;
  &.md {
    top: 1rem;
    right: 1rem;
  }

  &.ios {
    top: 1.25rem;
    right: 1.25rem;
  }
}

iframe {
  width: 100%;
  height: 100%;
}

ion-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  --border-radius: 0.25rem;
  img {
    height: 90%;
    width: auto;
  }
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 600;
}

ion-card {
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  background-color: rgba(var(--ion-card-background-rgb, 255,255,255), 0.75);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0.25rem 1rem;
  ion-item.last-card-item {
    margin-top: 1rem
  }
}

.secondary-text {
  background: var(--ion-color-secondary);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.center-items-container {
  display: grid;
  place-items: center;
}

.full- {
  &width {
    min-width: 100%;
  }
  &height {
    min-height: 100%;
  }
}

.blur {
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0.25rem 1rem;
  background: rgba(var(--ion-card-background-rgb, 255,255,255), 0.75);
}

ion-col.blur {
  @extend .blur;
  ion-item {
    --background: transparent;
  }
}

ion-item {
  --highlight-color-valid: var(--ion-color-dark);
  &.blur {
    @extend .blur;
    --background: transparent;
  }
  &.transparent {
    --background: transparent;
  }
  &.ion-no-padding {
    --inner-padding-end: 0;
  }
}

.avatar {
  border-radius: 0.25rem;
}

ion-content.background {
  --background: rgba(0,0,0,0.4);
}

.background {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: var(--content-background);
    background-size: var(--background-size, cover);
  }
}

.minecraft-font {
  font-family: Minecraft;
}

.rounded-ion-items {
  ion-item {
    &:nth-of-type(1) {
      --border-radius: 0.25rem 0.25rem 0 0;
    }
    &:nth-last-of-type(1) {
      --border-radius: 0 0 0.25rem 0.25rem;
    }
    &:only-of-type {
      --border-radius: 0.25rem;
    }
  }
}

.ion-card-footer {
  width: 100%;
  display: flex;
  justify-content: end;
}

// ion-input {
//   --border-color: transparent !important;
//   .input-bottom {
//     padding-top: 0 !important;
//   }
// }
