<ion-content class="background padding">
  <ion-grid>
    <ion-row>
      @for (group of form.controls; track index; let index = $index) {
        <ion-col size="12" sizeMd="6" sizeLg="4" sizeXL="2.4" [formGroup]="group">
          @if (group) {
            <ion-segment formControlName="style" mode="ios">
              <ion-segment-button [value]="undefined">
                <ion-label i18n="@@text-style-unstyled">Unstyled</ion-label>
                <ion-icon name="ban"></ion-icon>
              </ion-segment-button>
              <ion-segment-button [value]="STYLE.RAINBOW">
                <ion-label i18n="@@text-style-rainbow">Rainbow</ion-label>
                <ion-icon name="sparkles"></ion-icon>
              </ion-segment-button>
              <ion-segment-button [value]="STYLE.GRADIENT">
                <ion-label i18n="@@text-style-gradient">Gradient</ion-label>
                <ion-icon name="star-half"></ion-icon>
              </ion-segment-button>
              <ion-segment-button [value]="STYLE.COLOR">
                <ion-label i18n="@@text-style-color">Color</ion-label>
                <ion-icon name="star"></ion-icon>
              </ion-segment-button>
            </ion-segment>

            <ion-card>
              <ion-card-content class="ion-no-padding">
                @if (group.value) {
                  <ion-item class="transparent" lines="full">
                    <ion-label i18n="@@text-style-preview">Preview</ion-label>
                    <qbit-styled-text [text]="convertFormToStyledText(index)"></qbit-styled-text>
                  </ion-item>
                }

                <ng-container formGroupName="attributes">
                  <ion-item class="transparent" lines="full">
                    <ion-input formControlName="content" errorText="Nickname may not include <, > or :">
                      <div slot="label"><ion-text i18n="@@text-style-input-label">Text</ion-text><ion-text color="danger"> *</ion-text></div>
                    </ion-input>
                  </ion-item>
                  <ion-accordion-group>
                    <ion-accordion value="attributes">
                      <ion-item slot="header" class="transparent" lines="full" [style.--border-width]="'0 0 1px 0'">
                        <ion-label i18n="@@text-style-attributes">Attributes</ion-label>
                      </ion-item>
                      <div slot="content">
                        <ion-item lines="full" class="transparent">
                          <ion-checkbox i18n="@@text-style-attribute-bold" formControlName="bold">Bold</ion-checkbox>
                        </ion-item>
                        <ion-item lines="full" class="transparent">
                          <ion-checkbox i18n="@@text-style-attribute-strikethrough" formControlName="strikethrough">Strikethrough</ion-checkbox>
                        </ion-item>
                        <ion-item lines="full" class="transparent">
                          <ion-checkbox i18n="@@text-style-attribute-underline" formControlName="underline">Underline</ion-checkbox>
                        </ion-item>
                        <ion-item lines="full" class="transparent">
                          <ion-checkbox i18n="@@text-style-attribute-italic" formControlName="italic">Italic</ion-checkbox>
                        </ion-item>
                      </div>
                    </ion-accordion>
                  </ion-accordion-group>
                </ng-container>

                @switch (group.controls.style.value) {
                  @case (STYLE.RAINBOW) { <ng-container [ngTemplateOutlet]="rainbow"></ng-container> }
                  @case (STYLE.GRADIENT) { <ng-container [ngTemplateOutlet]="gradient"></ng-container> }
                  @case (STYLE.COLOR) { <ng-container [ngTemplateOutlet]="color"></ng-container> }
                  @default { <ng-container [ngTemplateOutlet]="none"></ng-container> }
                }

                <ion-item lines="none" class="ion-no-padding transparent">
                  <ion-buttons slot="end">
                    <ion-button (click)="add(index)">
                      <ion-icon name="add" slot="icon-only"></ion-icon>
                    </ion-button>
                    <ion-button (click)="delete(index)">
                      <ion-icon name="trash" slot="icon-only" color="danger"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-item>
              </ion-card-content>
            </ion-card>

            <ng-template #rainbow formGroupName="rainbow">
              <ion-item class="transparent" lines="full">
                <ion-range
                  [label]="sliderLabel(SLIDER_LABEL.SATURATION, group.controls.rainbow.controls.saturation.value)"
                  [min]="1"
                  formControlName="saturation"
                ></ion-range>
              </ion-item>
            </ng-template>
            <ng-template #gradient formGroupName="gradient">
              <ng-container formArrayName="colors">
                @for (control of group.controls.gradient.controls.colors.controls; track i; let i = $index) {
                  <ion-item
                    button
                    lines="full"
                    class="transparent"
                    (click)="gradientInput.click()">
                    <ion-input
                      readonly
                      label="Color {{ i + 1 }}"
                      [value]="group.controls.gradient.controls.colors.at(i).value"
                      [style.--color]="group.controls.gradient.controls.colors.at(i).value">
                    </ion-input>
                    <input type="color" [formControlName]="i" [style.display]="'none'" #gradientInput>
                  </ion-item>
                }
                <ion-item class="transparent" button lines="full" (click)="newGradientColor(index)">
                  <ion-label i18n="@@text-style-add-color-input">Add Color</ion-label>
                  <ion-icon slot="end" name="add"></ion-icon>
                </ion-item>
              </ng-container>
            </ng-template>
            <ng-template #color formGroupName="color">
              <ion-item class="transparent" button (click)="colorInput.click()" lines="full">
                <ion-input
                  readonly
                  i18n-label="@@text-style-color-input-label"
                  label="Color"
                  [value]="group.controls.color.controls.color.value"
                  [style.--color]="group.controls.color.controls.color.value">
                </ion-input>
                <input type="color" formControlName="color" [style.display]="'none'" #colorInput>
              </ion-item>
            </ng-template>
            <ng-template #none>
            </ng-template>
          }
        </ion-col>
      }
    </ion-row>
  </ion-grid>
  @if (form.dirty) {
    <ion-fab slot="fixed" vertical="bottom" horizontal="center" [@inOutAnimation]>
      <ion-fab-button color="secondary" [disabled]="form.invalid" (click)="save()">
        <ion-icon name="save"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  }
</ion-content>
