ion-content {
  &::part(scroll) {
    scroll-snap-type: y mandatory;
  }
  qbit-server {
    scroll-snap-align: start;
    min-height: calc(100dvh);
    color: white;
  }
  .scrolldown-container {
    left: calc(50dvw - 50px);
    bottom: 5rem;
  }
}
