ion-select {
  position: absolute;
  &.md {
    top: 0.5rem;
    right: 1rem;
  }

  &.ios {
    top: 1rem;
    right: 1rem;
  }
}

ion-item {
  &:first-of-type::part(native) {
    padding-top: 0;
  }
}
