ion-select {
  --padding-end: 1rem;
  --highlight-color-valid: transparent;
  --highlight-color-invalid: transparent;
  --highlight-color-focused: transparent;
  position: absolute;
}

ion-item {
  &:first-of-type::part(native) {
    padding-top: 0;
  }
}
