ion-avatar {
  --border-radius: 0.25rem;
}

ion-select {
  position: absolute;
  &.md {
    top: 0.5rem;
    right: 1rem;
  }

  &.ios {
    top: 1rem;
    right: 1rem;
  }
}

ion-item {
  &.ios {
    &:first-of-type::part(native) {
      padding-top: 0;
    }
    &::part(native) {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
  &.md {
    &:first-of-type::part(native) {
      padding-top: 0;
    }
    &::part(native) {
      padding-top: 0.6rem;
      padding-bottom: 0.6rem;
    }
  }
}
